.elements {
  display: grid;
  max-width: 880px;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 17px;
  margin: 0 auto;
}
.elements__contenedor {
  max-width: 282px;
  max-height: 361px;
  border-radius: 10px;
  background-color: #fff;
  margin: auto;
}
.elements__image {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.elements__basurero {
  position: absolute;
  max-width: 18px;
  max-height: 18px;
  background-color: transparent;
  border: 0;
  top: 350px;
  left: 420px;
}
.elements__basurero:hover {
  opacity: 0.6;
}
.elements__description {
  display: flex;
  margin: auto;
  border-radius: 0 0 10px 10px;
  padding: 25px 0 30px;
}
.elements__description-title {
  font-family: "Inter-Black";
  color: black;
  margin: auto;
  margin-left: 21px;
}
.elements__description-corazon {
  background-image: url("../images/corazon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  padding-right: 18px;
  align-items: end;
  margin-right: 10px;
  max-width: 20px;
}
.elements__description-corazon:hover {
  opacity: 0.6;
}
.elements__description-corazon-active {
  background-image: url("../images/corazonegro.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  padding-right: 18px;
  align-items: end;
  margin-right: 10px;
  max-width: 20px;
}
.elements__description @media screen and (max-width: 768px) {
  .elements {
    width: 768px;
    width: 100%;
    box-sizing: border-box;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0;
    padding: 25px;
  }
  .elements__contenedor {
    max-width: 346px;
    max-height: 500px;
    border-radius: 10px;
    background-color: #fff;
    margin: 0;
    width: 100%;
  }
  .elements__basurero {
    top: 890px;
    left: 320px;
  }
}
@media screen and (max-width: 412px) {
  .elements {
    box-sizing: border-box;
    display: block;
  }
  .elements__contenedor {
    max-width: 282px;
    max-height: 360px;
    margin: 0 auto 16px;
  }
  .elements__basurero {
    top: 430px;
    left: 300px;
  }
}
