.elements {
  display: grid;
  max-width: 880px;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 17px;
  margin: 0 auto;
}
.elements__contenedor {
  max-width: 282px;
  max-height: 361px;
  border-radius: 10px;
  background-color: #fff;
}
.elements__image {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.elements__description {
  display: flex;
  margin: auto;
  border-radius: 0 0 10px 10px;
  padding: 25px 0 30px;
}
.elements__description-title {
  font-family: "Inter-Black";
  color: black;
  margin: auto;
  margin-left: 21px;
}
.elements__description-corazon {
  padding-right: 18px;
  align-items: end;
}
.elements__description-corazon:hover {
  opacity: 0.6;
}
@media screen and (max-width: 768px) {
  .elements {
    box-sizing: border-box;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0;
    padding: 25px;
  }
}
@media screen and (max-width: 412px) {
  .elements {
    box-sizing: border-box;
    display: block;
  }
  .elements__contenedor {
    margin: 0 auto 16px;
  }
}
