.footer {
  margin: 67px 200px 0;
  width: 318px;
  height: 18px;
  padding-bottom: 60px;
}
.footer__copy-right {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #545454;
}
@media screen and (max-width: 768px) {
  .footer {
    margin: 60px 60px 0;
    width: 318px;
    height: 18px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 412px) {
  .footer {
    margin: 50px 40px 0;
    width: 318px;
    height: 18px;
    padding-bottom: 60px;
  }
}
